[mysqld]
user                           = root
datadir                        = /app/mysql

thread_cache_size              = 20

max_heap_table_size            = 64M
max_allowed_packet             = 16M

default_storage_engine         = InnoDB

# MEMORY variables
max_heap_table_size            = 64M                                 # Should be greater or equal to tmp_table_size

# InnoDB variables
innodb_file_format_check       = 1
innodb_buffer_pool_size        = 256M                                # Start with 50% 70% of total RAM. Does not need to be larger than the database size (1400M)
innodb_buffer_pool_instances   = 8                                   # Bigger if huge InnoDB Buffer Pool or high concurrency

innodb_flush_log_at_trx_commit = 2                                   # 1 for durability, 0 or 2 for performance
innodb_log_buffer_size         = 8M                                  # Bigger if innodb_flush_log_at_trx_commit = 0
innodb_log_file_size           = 256M                                # Bigger means more write throughput but longer recovery time
innodb_read_io_threads         = 8
innodb_write_io_threads        = 8

log-bin                        = /app/mysql/mysql-bin
log-error                      = /var/log/mysqld.log

[mysqld_safe]
log-error                      = /var/log/mysqld.log
pid-file                       = /var/run/mysqld/mysqld.pid
