[mysqld]
user = root
datadir = /app/mysql
port = 3306
log-bin = /app/mysql/mysql-bin

query_cache_size = 128M
query_cache_limit = 128M
interactive_timeout = 300
wait_timeout = 300
thread_cache_size = 8
log-error=/var/log/mysqld.log
innodb_buffer_pool_size=128M

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
